@model PropertyType

@{
    var action = " ";
    if (Model.Id == 0)
    {
        action = "AddPropertyType";
    }
    else
    {
        action = "UpdatePropertyType";
    }
}

<div class="content">
    <partial name="_Navbar" />
    <div class="row">
        <div>
            <span id="close" style="float:right" class="hidden-sm hidden-xs">
                <span id="expand">CloseHelp</span>
                <i class="fa fa-chevron-right" id="icon-expand" aria-hidden="true" onclick="OpenHelp()"></i>
            </span>
        </div>
        <div class="col-md-9" id="left-side-bar">
            <div class="container-fluid pt-4 px-4 col-12 justify-content-between">
                <div class="row mb-3">
                    <div class="col-10">
                        <ol class="breadcrumb float-sm-right col-10 text-start">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item"><a href="#">Property Types</a></li>
                            @if (Model.Id == 0)
                            {
                                <li class="breadcrumb-item active">Add</li>
                            }
                            else
                            {
                                <li class="breadcrumb-item">Edit</li>
                                <li class="breadcrumb-item active">@Model.Id</li>

                            }
                        </ol>
                    </div>
                    <div class="col-2 text-end">
                        <a  asp-controller="PropertyTypes" asp-action="Index" class="btn btn-primary ">Back to list</a>
                    </div>
                </div>
                <form asp-controller="PropertyTypes" asp-action="@action" method="post">
                    <input type="hidden" asp-for="Id" />

                    <div class="d-flex row">

                        <div class="form-floating mb-3  ">
                            <input type="text" asp-for="Name" class="form-control help-sidebar" data-title="Property Type Name" data-description="Enter the name of Property type" id="floatingText" placeholder="text">
                            <label for="floatingText">&nbsp; Name</label>
                            <span asp-validation-for="@Model.Name" class="text-danger"></span>
                        </div>
                    </div>

                    @if (Model.Id == 0)
                    {
                        <button type="submit" class="btn btn-primary py-3 w-100 mb-4 col-sm-6">Add Property</button>

                    }
                    else
                    {
                        <button type="submit" class="btn btn-secondary py-3 w-100 mb-4 col-sm-6">Update</button>

                    }
                </form>
            </div>
        </div>
        <div class="col-md-3 navbar-right hidden-sm hidden-xs help-bar remove-left-padding" id="right-sidebar">
            <div class=" card-primary">
                <div class="card-header">
                    <h3 class="card-title"><span id="title">QuickHelp</span></h3>
                </div>
                <div class="card-body">
                    <p id="description">
                        @(Model.Id == 0 ? "Property Type Add Form" : "Property Type Edit Form")
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
    <script>
        $(document).ready(function () {

            //if (localStorage.isHelpVisible == 'true') {
            //    Close();
            //}
            //else {
            //    Open();
            //}
            $(window).scroll(function () {
                $("#right-sidebar").css("margin-top", Math.max(0, $(this).scrollTop() - 112));
            });

            $(".help-sidebar").click(function () {
                var event = $(this);
                var title = $(this).attr("data-title");
                var description = $(this).attr("data-description");
                HelpSideBar(title, description);
            });

            //Function that fill help right side bar
            function HelpSideBar(title, description) {
                //debugger;
                $("#title").text(title);
                $("#description").text(description);
            }

            $("#close").click(function () {
                if ($("#right-sidebar").is(':visible')) {
                    Open();
                }
                else {
                    Close();
                }
            });

            function Open() {

                var option = { direction: 'right' };
                $("#right-sidebar").hide();
                $("#left-side-bar").removeClass("col-md-9");
                $("#left-side-bar").addClass("col-md-12");

                $("#icon-expand").removeClass("fa-chevron-right");
                $("#icon-expand").addClass("fa-chevron-left");
                $("#expand").html("OpenHelp");

                localStorage.isHelpVisible = false;
            }
            function Close() {
                //debugger;
                $("#left-side-bar").removeClass("col-md-12");
                $("#left-side-bar").addClass("col-md-9");
                var option = { direction: 'right' };
                $("#right-sidebar").show();
                $("#icon-expand").removeClass("fa-chevron-left");
                $("#icon-expand").addClass("fa-chevron-right");
                $("#expand").html("CloseHelp");

                localStorage.isHelpVisible = true;
            }
        });
    </script>
}

