@using RealEstate.Web.Constants;
@model RegisterViewModel


<div class="content">
    <partial name="_Navbar" />
    <div class="row">
        <div>
            <span id="close" style="float:right" class="hidden-sm hidden-xs">
                <span id="expand">CloseHelp</span>
                <i class="fa fa-chevron-right" id="icon-expand" aria-hidden="true" onclick="OpenHelp()"></i>
            </span>
        </div>
        <div class="col-md-9" id="left-side-bar">
            <div class="container-fluid pt-4 px-4 col-12 justify-content-between">
                <div class="row mb-3">
                    <div class="col-10">
                        <ol class="breadcrumb float-sm-right col-10 text-start">
                            <li class="breadcrumb-item"><a href="#">Account</a></li>
                            <li class="breadcrumb-item"><a href="#">Change Password</a></li>
                            <li class="breadcrumb-item active">@Model.Id</li>
                        </ol>
                    </div>
                </div>
                <form asp-controller="Account" asp-action="ChangePassword" method="post">
                    <input type="hidden" asp-for="Email" class="form-control help-sidebar" data-title="Email" data-description="Enter Email" id="floatingInput" placeholder="name@example.com">
                    <input type="hidden" asp-for="Name" class="form-control help-sidebar" data-title="Name" data-description="Enter Name" id="floatingText" placeholder="Name">
                    <input type="hidden" asp-for="State" class="form-control help-sidebar" data-title="State" data-description="Enter the State you live" id="floatingText" placeholder="State">
                    <input type="hidden" asp-for="City" class="form-control help-sidebar" data-title="City" data-description="Enter the City you live" id="floatingText" placeholder="City">
                    <input type="hidden" asp-for="PostalCode" class="form-control help-sidebar" data-title="PostalCode" data-description="Enter the Postal Code of your city" id="floatingText" placeholder="PostalCode">
                    <input type="hidden" asp-for="StreetAddres" class="form-control help-sidebar" data-title="StreetAddress" data-description="Enter your Address" id="floatingText" placeholder="StreetAddress">
                    <input type="hidden" asp-for="PhoneNumber" class="form-control help-sidebar" data-title="PhoneNumber" data-description="Enter your PhoneNumber" id="floatingText" placeholder="PhoneNumber">
                    <input type="hidden" asp-for="Role" class="form-control" data-title="Role" id="floatingText" />
                    <input type="hidden" asp-for="Id" />
                    <div class="col-lg-12 col-12">
                        <div class="form-floating mb-3 col-sm-6 ">
                            <input type="password" asp-for="OldPassword" class="form-control help-sidebar" data-title="OldPassword" data-description="Enter Old Password." id="floatingPassword" placeholder="Old Password">
                            <label for="floatingPassword">&nbsp; Old Password</label>
                            <span asp-validation-for="OldPassword" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-lg-12 col-12">
                        <div class="form-floating mb-3 col-sm-6 ">
                            <input type="password" asp-for="Password" class="form-control help-sidebar" data-title="Password" data-description="Enter Password. Password must contain at least 6 characters, one uppercase letter,lowercase letter, number and non alphanumeric character. " id="floatingPassword" placeholder="Password">
                            <label for="floatingPassword">&nbsp; New Password</label>
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                        </div>
                    <div class="col-lg-12 col-12">
                        <div class="form-floating mb-3 col-sm-6 ">
                            <input type="password" asp-for="ConfirmPassword" class="form-control help-sidebar" data-title="Confirm Password" data-description="Confirm password must be the same as password" id="floatingPassword" placeholder="Password">
                            <label for="floatingPassword">&nbsp; Confirm New Password</label>
                            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                        </div>
                        </div>
                             
                    <button type="submit" class="btn btn-secondary py-3 w-100 mb-4 col-sm-6">Save</button>
                </form>
            </div>
        </div>
        <div class="col-md-3 navbar-right hidden-sm hidden-xs help-bar remove-left-padding" id="right-sidebar">
            <div class="card card-secondary">
                <div class="card-header">
                    <h3 class="card-title"><span id="title">Quick Help</span></h3>
                </div>
                <div class="card-body">
                    <p id="description">
                        Change Password Form
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
    }
    <script>
        $(document).ready(function () {

            //if (localStorage.isHelpVisible == 'true') {
            //    Close();
            //}
            //else {
            //    Open();
            //}
            $(window).scroll(function () {
                $("#right-sidebar").css("margin-top", Math.max(0, $(this).scrollTop() - 112));
            });

            $(".help-sidebar").click(function () {
                var event = $(this);
                var title = $(this).attr("data-title");
                var description = $(this).attr("data-description");
                HelpSideBar(title, description);
            });

            //Function that fill help right side bar
            function HelpSideBar(title, description) {
                $("#title").text(title);
                $("#description").text(description);
            }

            $("#close").click(function () {
                if ($("#right-sidebar").is(':visible')) {
                    Open();
                }
                else {
                    Close();
                }
            });

            function Open() {

                var option = { direction: 'right' };
                $("#right-sidebar").hide();
                $("#left-side-bar").removeClass("col-md-9");
                $("#left-side-bar").addClass("col-md-12");

                $("#icon-expand").removeClass("fa-chevron-right");
                $("#icon-expand").addClass("fa-chevron-left");
                $("#expand").html("OpenHelp");

                localStorage.isHelpVisible = false;
            }
            function Close() {
                $("#left-side-bar").removeClass("col-md-12");
                $("#left-side-bar").addClass("col-md-9");
                var option = { direction: 'right' };
                $("#right-sidebar").show();
                $("#icon-expand").removeClass("fa-chevron-left");
                $("#icon-expand").addClass("fa-chevron-right");
                $("#expand").html("CloseHelp");

                localStorage.isHelpVisible = true;
            }
        });
    </script>
}
