@using Microsoft.AspNetCore.Identity
@using RealEstate.Web.Services.IServices;
@inject IUserService userService



@* duhet me kshyr current user a osht nul qe me dit osht login a jo *@
@if (userService.GetCurrentUser()!=null)
{
    <nav class="navbar navbar-expand bg-light navbar-light sticky-top px-4 py-2">
        <a href="#" class="sidebar-toggler flex-shrink-0">
            <i class="fa fa-bars"></i>
        </a>
        <div class="navbar-nav align-items-center ms-auto">
            <div class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
                    <img class="rounded-circle me-lg-2" src="~/theme/img/default-profile-picture.jpg" alt="" style="width: 40px; height: 40px;">
                    <span class="d-none d-lg-inline-flex">@userService.GetCurrentUser().Name</span>
                </a>
                <div class="dropdown-menu dropdown-menu-end bg-light border-0 rounded-0 rounded-bottom m-0">
                    <form asp-area="Individual" asp-action="Logout" asp-controller="Account" method="post">
                        <button type="submit" class="dropdown-item">Logout</button>

                    </form>
                </div>
            </div>
        </div>
    </nav>
}
else
{
    <nav class="navbar navbar-expand navbar-light sticky-top px-4 py-2 bg-dark">

        <a class="nav-link text-primary"  asp-controller="Home" asp-action="Index" asp-route-loggedIn="false">Properties</a>

        <ul class="navbar-nav align-items-center ms-auto">
            <li class="nav-item">
                <a class="nav-link text-primary"  asp-controller="Account" asp-action="Register">Register</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-primary"  asp-controller="Account" asp-action="Login">Login</a>
            </li>

        </ul>
    </nav>

}

