@using RealEstate.Web.Constants;
@using RealEstate.Web.Services.IServices;
@inject IUserService userService

<div class="sidebar pe-4 pb-3">
    <nav class="navbar bg-light navbar-light">
        <a href="index.html" class="navbar-brand mx-4 mb-3">
            <h3 class="text-primary">Real Estate</h3>
        </a>
        <div class="d-flex align-items-center ms-4 mb-4">
            <div class="position-relative">
                <img class="rounded-circle" src="~/theme/img/default-profile-picture.jpg" alt="" style="width: 40px; height: 40px;">
                <div class="bg-success rounded-circle border border-2 border-white position-absolute end-0 bottom-0 p-1"></div>
            </div>
            <div class="ms-3">
                <h6 class="mb-0">@userService.GetCurrentUser().Name</h6>
                <span class="mt-2">@userService.GetCurrentUser().Role</span>
            </div>
        </div>
        <div class="navbar-nav w-100">
            @if (userService.GetCurrentUser().Role == RoleConstants.Role_Admin)
            {
                <a  asp-controller="User" asp-action="Index" class="nav-item nav-link"><i class="nav-icon fas fa-user me-2"></i>Users</a>
                <a  asp-controller="PropertyTypes" asp-action="Index" class="nav-item nav-link"><i class="fa fa-layer-group me-2"></i>PropertyTypes</a>
                @* <a asp-area="Admin" asp-controller="TransactionTypes" asp-action="Index" class="nav-item nav-link"><i class="fa fa-layer-group me-2"></i>TransactionTypes</a> *@
            }

            @if (userService.GetCurrentUser().Role == RoleConstants.Role_User_Indi || "Roli userit" == RoleConstants.Role_User_Comp)
            {
                <a asp-controller="Home" asp-action="Dashboard" class="nav-item nav-link"><i class="fa fa-tachometer-alt me-2"></i>Dashboard</a>
                <a  asp-controller="Properties" asp-action="Index" class="nav-item nav-link"><i class="bi bi-house me-2"></i>MyProperties</a>
                <a  asp-controller="Home" asp-action="Index" class="nav-item nav-link"><i class="bi bi-house me-2"></i>Properties</a>
                <a asp-controller="Transaction" asp-action="Index" class="nav-item nav-link"><i class="fa-sharp fa-solid fa-euro-sign"></i>Transactions</a>

            }
            @if (userService.GetCurrentUser().Role == RoleConstants.Role_User_Comp)
            {
                <a  asp-controller="User" asp-action="Index" class="nav-item nav-link"><i class="nav-icon fas fa-user me-2"></i>Agents</a>
            }
        </div>
    </nav>
</div>
