@using RealEstate.Web.Constants;
@model TransactionDetailsViewModel

@{
    var owner = "";
    var buyer = "";
    if (Model.Transaction.TransactionType == TransactionTypes.Rent)
    {
        owner = "Lessee";
        buyer = "Lessor";
    }
    else
    {
        owner = "Seller";
        buyer = "Buyer";
    }
}
<div class="content">
    <partial name="_Navbar" />
    <div class="container-fluid pt-4 px-4 col-12 justify-content-between">
        <div class="row mb-3">
            <div class="text-start">
                <a asp-area="Company" asp-controller="Transaction" asp-action="Index" class="btn btn-primary ">Back to
                    List</a>
            </div>
        </div>
        <form>
            <input disabled type="hidden" asp-for="Transaction.Id" />
            <input disabled type="hidden" asp-for="Property.Id" />
            <input disabled type="hidden" asp-for="Property.UserId" />
            <input disabled type="hidden" asp-for="Property.TransactionType" />
            <div class="row">
                <div class="form-floating mb-3 col-sm-6 ">
                    <input disabled asp-for="Buyer.Name" class="form-control" id="floatingInput">
                    <label for="floatingInput">&nbsp; @buyer</label>
                </div>
                <div class="form-floating mb-3 col-sm-6 ">
                    <input disabled asp-for="Owner.Name" class="form-control" id="floatingInput">
                    <label for="floatingInput">&nbsp;@owner</label>
                </div>
            </div>
            <div class="row">
                <div class="form-floating mb-3 col-sm-6 ">
                    <input disabled asp-for="Property.Name" class="form-control" id="floatingInput">
                    <label for="floatingInput">&nbsp;Property Name</label>
                </div>
                <div class="form-floating mb-3 col-sm-6 ">
                    <input disabled asp-for="Property.Price" class="form-control" id="floatingInput">
                    <label for="floatingInput">&nbsp;Price</label>
                </div>
            </div>


            <div class="col-lg-12 col-12">
                <div class="form-floating mb-3">
                    <textarea disabled rows="3" asp-for="Property.Description" class="form-control"></textarea>
                    <label>Description</label>
                </div>
            </div>

            <div class="d-flex row">
                <div class="form-floating mb-3  col-sm-6 ">
                    <input disabled asp-for="Property.BedRooms" class="form-control" id="floatingText"
                        placeholder="text">
                    <label for="floatingText">&nbsp; BedRooms</label>
                </div>
                <div class="form-floating mb-3 col-sm-6">
                    <input disabled asp-for="Property.BathRooms" class="form-control" id="floatingText"
                        placeholder="Password">
                    <label for="floatingText">&nbsp; BathRooms</label>
                </div>
            </div>
            <div class="row justify-content-between">
                <div class="form-floating mb-3 col-sm-6">
                    <input disabled asp-for="Property.Area" class="form-control" id="floatingText"
                        placeholder="Password">
                    <label for="floatingText">&nbsp; Area(in m&sup2;)</label>
                </div>

                <div class="form-floating mb-3 col-sm-6">
                    <input disabled asp-for="Property.Status" class="form-control" id="floatingText"
                        placeholder="Password">
                    <label for="floatingText">&nbsp; Status</label>
                </div>
            </div>
            <div class="row">
                <div class="form-floating mb-3 col-sm-6">
                    <input disabled asp-for="Property.City" class="form-control" id="floatingText"
                        placeholder="Password">
                    <label for="floatingText">&nbsp; City</label>
                </div>
                <div class="form-floating mb-3 col-sm-6">
                    <input disabled asp-for="Property.StreetAddress" class="form-control" id="floatingText"
                        placeholder="Password">
                    <label for="floatingText">&nbsp; Street Address</label>
                </div>
            </div>
            <div class="row">
                <div class="form-floating mb-3 col-sm-6">
                    <input disabled asp-for="Property.PropertyType!.Name" class="form-control" id="floatingText"
                        placeholder="Password">
                    <label for="floatingText">&nbsp; Property Type</label>
                </div>
                <div class="form-floating mb-3 col-sm-6">
                    <input disabled asp-for="Property.TransactionType" class="form-control" id="floatingText"
                        placeholder="Password">
                    <label for="floatingText">&nbsp;Transaction Type</label>
                </div>
            </div>
            @if (Model.Property.TransactionType == TransactionTypes.Rent)
            {
                <div class="row">
                    <div class="form-floating mb-3 col-sm-6">
                        <input disabled type="date" asp-for="Transaction.RentStartDate" class="form-control"
                            id="floatingText" placeholder="Password">
                        <label for="floatingText">&nbsp; Rent Start Date</label>
                    </div>
                    <div class="form-floating mb-3 col-sm-6">
                        <input disabled type="date" asp-for="Transaction.RentEndDate" class="form-control" id="floatingText"
                            placeholder="Password">
                        <label for="floatingText">&nbsp; Rent End Date </label>

                    </div>
                </div>
            }
        </form>
    </div>
</div>
